<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, assumenda?</p>
    </header>
    <div class="card card--secondary" style="width: 30%; padding: 4rem;">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni.
        </div>
    </div>
</section>
<section class="block block--skewed-right block--dark">
    <div class="container block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, assumenda?</p>
    </div>
</section>