<button class="btn btn--primary">explore</button>
<button class="btn btn--primary btn--lg">explore</button>
<button class="btn btn--primary btn--icon">
    <span class="icon-container icon--small">
        <img class="icon" src="../images/play.ico" alt="">
    </span>
    <span class="btn__text">Text</span>
</button>
<button class="btn btn--primary btn--icon btn--outline hg-content-faded hg-hover-light">
    <span class="icon-container icon--small">
        <img class="icon" src="../images/play.ico" alt="">
    </span>
    <span class="btn__text">Text</span>
</button>
<button class="btn btn--primary btn--icon btn--outline btn--search">
    <span class="icon-container icon--small">
        <img class="icon" src="../images/play.ico" alt="">
    </span>
</button>
<button class="btn btn--dropdown">
    <span class="btn__text">dropdown</span>
    <span class="icon-container icon--small">
        <img class="icon" src="../images/chevron2.ico" alt="">
    </span>
</button>