<div class="flex flex-col--wrap">
    <div class="commodity">
        <div class="card">
            <header class="card__header">
                <div class="commodity__icon">
                    <img class="icon" src="../images/image1.jpg" alt="">
                    <h3 class="commodity__name">Name right here</h3>
                </div>
                <div class="commodity__tags">
                    <span class="commodity__price">MWK 100.00</span>
                    <span class="commodity__description">Thats our commodity</span>
                </div>
            </header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
            </div>
            <footer class="card__footer">
                <small class="text-muted">
                    <button class="btn btn--primary btn--icon btn--outline">
                        <span class="icon-container icon--small">
                            <img class="icon" src="../images/play.ico" alt="">
                        </span>
                        <span class="btn__text">view</span>
                    </button>
                </small>
            </footer>
        </div>
    </div>
    <div class="commodity">
        <div class="card">
            <header class="card__header">
                <div class="commodity__icon">
                    <img class="icon" src="../images/image1.jpg" alt="">
                    <h3 class="commodity__name">Name right here</h3>
                </div>
                <div class="commodity__tags">
                    <span class="commodity__price">MWK 100.00</span>
                    <span class="commodity__description">Thats our commodity</span>
                </div>
            </header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
            </div>
            <footer class="card__footer">
                <small class="text-muted">
                    <button class="btn btn--primary btn--icon btn--outline">
                        <span class="icon-container icon--small">
                            <img class="icon" src="../images/play.ico" alt="">
                        </span>
                        <span class="btn__text">view</span>
                    </button>
                </small>
            </footer>
        </div>
    </div>
    <div class="commodity">
        <div class="card">
            <header class="card__header">
                <div class="commodity__icon">
                    <img class="icon" src="../images/image1.jpg" alt="">
                    <h3 class="commodity__name">Name right here</h3>
                </div>
                <div class="commodity__tags">
                    <span class="commodity__price">MWK 100.00</span>
                    <span class="commodity__description">Thats our commodity</span>
                </div>
            </header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
            </div>
            <footer class="card__footer">
                <small class="text-muted">
                    <button class="btn btn--primary btn--icon btn--outline">
                        <span class="icon-container icon--small">
                            <img class="icon" src="../images/play.ico" alt="">
                        </span>
                        <span class="btn__text">view</span>
                    </button>
                </small>
            </footer>
        </div>
    </div>
    <div class="commodity">
        <div class="card">
            <header class="card__header">
                <div class="commodity__icon">
                    <img class="icon" src="../images/image1.jpg" alt="">
                    <h3 class="commodity__name">Name right here</h3>
                </div>
                <div class="commodity__tags">
                    <span class="commodity__price">MWK 100.00</span>
                    <span class="commodity__description">Thats our commodity</span>
                </div>
            </header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
            </div>
            <footer class="card__footer">
                <small class="text-muted">
                    <button class="btn btn--primary btn--icon btn--outline">
                        <span class="icon-container icon--small">
                            <img class="icon" src="../images/play.ico" alt="">
                        </span>
                        <span class="btn__text">view</span>
                    </button>
                </small>
            </footer>
        </div>
    </div>
</div>