<div class="flex flex-col--wrap">
    <div class="commodity">
        <div class="card">
            <header class="card__header">
                <div class="commodity__icon">
                    <img class="icon" src="images/item-light.ico" alt="">
                    <h3 class="commodity__name">Name right here Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </div>
                <div class="commodity__tags">
                    <span class="commodity__price">
                      <span class="commodity__currency">MWK</span>
                      <span class="commodity__amount">100.00</span>
                      <span class="commodity__unit"> /Packet</span>
                    </span>
                    <span class="commodity__description">Thats our commodity</span>
                </div>
            </header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!                               
              </div>
              <div class="card__btn">
                <button class="btn btn--primary btn--icon btn--outline">
                    <span class="icon-container icon--small">
                        <img class="icon" src="images/play.ico" alt="">
                    </span>
                    <span class="btn__text">view</span>
                </button>
              </div>
            <footer class="card__footer">
              <div class="btn--group">
                <button class="btn btn--edit btn--icon">
                    <span class="icon-container icon--small">
                        <img class="icon" src="images/edit-filled.ico" alt="">
                    </span>
                    <span class="btn__text">edit</span>
                </button>
                <button class="btn btn--category btn--icon">
                    <span class="icon-container icon--small">
                        <img class="icon" src="images/category-dark.ico" alt="">
                    </span>
                    <span class="btn__text">category</span>
                </button>
              </div>
              <div class="card__divider"></div>
              <div class="btn--group">
                  <button class="btn btn--delete btn--icon btn--outline" data-bs-toggle="modal" data-bs-target="#delete-modal">
                      <span class="icon-container icon--small">
                          <img class="icon" src="images/del-dark.ico" alt="">
                      </span>
                      <span class="btn__text">delete</span>
                  </button>

                  <div class="modal fade" id="delete-modal" data-bs-backdrop="static" tabindex="-1" role="dialog" data-bs-keyboard="false" aria-labelledby="WarningToDelete" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Make the choice, Brov</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Are You Sure?</h5>
                                <div class="container-fluid">
                                    You Sure Though, dawg?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </footer>
        </div>
    </div>
    <div class="commodity">
      <div class="card card--popover">
          <header class="card__header">
              <div class="commodity__icon">
                  <img class="icon" src="../images/image1.jpg" alt="">
                  <h3 class="commodity__name">Name right here</h3>
              </div>
              <div class="commodity__tags">
                  <span class="commodity__price">
                    <span class="commodity__currency">MWK</span>
                    100.00
                  </span>
                  <span class="commodity__description">Thats our commodity</span>
              </div>
          </header>
          <div class="card__body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
          </div>
          <footer class="card__footer">
              <small class="text-muted">
                  <button class="btn btn--primary btn--icon btn--outline">
                      <span class="icon-container icon--small">
                          <img class="icon" src="../images/play.ico" alt="">
                      </span>
                      <span class="btn__text">view</span>
                  </button>
              </small>
          </footer>
      </div>
    </div>
    <div class="commodity">
      <div class="card card--popover">
          <header class="card__header">
              <div class="commodity__icon">
                  <img class="icon" src="../images/image1.jpg" alt="">
                  <h3 class="commodity__name">Name right here</h3>
              </div>
              <div class="commodity__tags">
                  <span class="commodity__price">
                    <span class="commodity__currency">MWK</span>
                    100.00
                  </span>
                  <span class="commodity__description">Thats our commodity</span>
              </div>
          </header>
          <div class="card__body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
          </div>
          <footer class="card__footer">
              <small class="text-muted">
                  <button class="btn btn--primary btn--icon btn--outline">
                      <span class="icon-container icon--small">
                          <img class="icon" src="../images/play.ico" alt="">
                      </span>
                      <span class="btn__text">view</span>
                  </button>
              </small>
          </footer>
      </div>
    </div>
    <div class="commodity">
      <div class="card card--popover">
          <header class="card__header">
              <div class="commodity__icon">
                  <img class="icon" src="../images/image1.jpg" alt="">
                  <h3 class="commodity__name">Name right here</h3>
              </div>
              <div class="commodity__tags">
                  <span class="commodity__price">
                    <span class="commodity__currency">MWK</span>
                    100.00
                  </span>
                  <span class="commodity__description">Thats our commodity</span>
              </div>
          </header>
          <div class="card__body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
          </div>
          <footer class="card__footer">
              <small class="text-muted">
                  <button class="btn btn--primary btn--icon btn--outline">
                      <span class="icon-container icon--small">
                          <img class="icon" src="../images/play.ico" alt="">
                      </span>
                      <span class="btn__text">view</span>
                  </button>
              </small>
          </footer>
      </div>
    </div>
</div>