<div class="features">
    <header class="features__header">Features</header>
    <ul class="list list--verticle list--icon">
        <li class="list__item link link--underline hg-content-faded hg-hover-light">
            <a href="#" class="link link--underline">Cool Stuff</a>
        </li>
        <li class="list__item link link--underline hg-content-faded hg-hover-light">
            <a href="#" class="link link--underline">Cool Stuff</a>
        </li>
        <li class="list__item link link--underline hg-content-faded hg-hover-light">
            <a href="#" class="link link--underline">Cool Stuff</a>
        </li>
        <li class="list__item link link--underline hg-content-faded hg-hover-light">
            <a href="#" class="link link--underline">Cool Stuff</a>
        </li>
    </ul>
</div>