<div class="flex flex-col--wrap">
    <div class="card">
        <header class="card__header">Card Header</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
        </div>
        <footer class="card__footer">
            <small class="text-muted">card footer</small>
        </footer>
    </div>
    <div class="card">
        <header class="card__header">Card Header</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
        </div>
        <footer class="card__footer">
            <small class="text-muted">card footer</small>
        </footer>
    </div>
    <div class="card">
        <header class="card__header">Card Header</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
        </div>
        <footer class="card__footer">
            <small class="text-muted">card footer</small>
        </footer>
    </div>
    <div class="card">
        <header class="card__header">Card Header</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quisquam!
        </div>
        <footer class="card__footer">
            <small class="text-muted">card footer</small>
        </footer>
    </div>
</div>